@model FrontRowCMS2.Models.Secondary.YouthStorySection

@{
	ViewData["Title"] = "Edit Youth Stories";
	Layout = "~/Views/Shared/_EditLayout.cshtml";
}

@section Scripts {
	<script type="text/javascript">

        $("#addStory").on('click', function () {

            $.ajax({
                async: false,
                url: '/secondary/EditYouthStories'
            }).success(function (partialView) {

                $('#stories').append('<div class="form-group"><label asp-for="TextArea" class="control-label"></label><textarea asp-for="TextArea" class="form-control"></textarea><span asp-validation-for="TextArea" rows="30" class="text-danger"></span><input type="button" value="Remove Story" class="btn btn-default" /></div>');

            });
        });

	</script>
}

<h2>Edit Youth Stories</h2>

<h4>Youth Stories</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditYouthStories">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="ID" />
			<div class="form-group">
				<label asp-for="Background" class="control-label"></label>
				<img src="~/images/@Html.DisplayFor(model => model.Background)" style="max-height:100px;" />
				<input asp-for="Background" class="form-control" />
				<span asp-validation-for="Background" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Body" class="control-label"></label>
				<textarea asp-for="Body" class="form-control"></textarea>
				<span asp-validation-for="Body" rows="30" class="text-danger"></span>
			</div>
			<div id="stories">
				@if( Model.youthStories != null){
				@foreach (var stories in Model.youthStories)
				{
					<div class="form-group">
						<label asp-for="@stories.TextArea" class="control-label"></label>
						<textarea asp-for="@stories.TextArea" class="form-control"></textarea>
						<span asp-validation-for="@stories.TextArea" rows="30" class="text-danger"></span>
						<input type="button" value="Remove Story" class="btn btn-default" />
					</div>
				}
				}
			</div>
			<div class="form-group">
				<input type="button" id="addStory" value="Add Story" class="btn btn-default" />
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

