@model FrontRowCMS2.Models.Secondary.SecondaryHeader

@{
    ViewData["Title"] = "EditHeader";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<h2>EditHeader</h2>

<h4>SecondaryHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditHeader">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TitleText" class="control-label"></label>
                <input asp-for="TitleText" class="form-control" />
                <span asp-validation-for="TitleText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackgroundImage" class="control-label"></label>
                <input asp-for="BackgroundImage" class="form-control" />
                <span asp-validation-for="BackgroundImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageText1" class="control-label"></label>
                <input asp-for="ImageText1" class="form-control" />
                <span asp-validation-for="ImageText1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageText2" class="control-label"></label>
                <input asp-for="ImageText2" class="form-control" />
                <span asp-validation-for="ImageText2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

