@model FrontRowCMS2.Models.Secondary.History
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

@{
    ViewData["Title"] = "Edit History";
}

<h4>Edit History Section</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="EditHistory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TextArea1" class="control-label"></label>
                <textarea asp-for="TextArea1" class="form-control" rows="10"></textarea>
                <span asp-validation-for="TextArea1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextArea2" class="control-label"></label>
                <textarea asp-for="TextArea2" class="form-control" rows="10"></textarea>
                <span asp-validation-for="TextArea2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image1" class="control-label"></label>
                <img id="image1_preview" src="~/images/@Html.DisplayFor(model => model.Image1)" style="max-height:100px;"/>
                <select id="select_image1" asp-for="Image1" asp-items="ViewBag.image" class="form-control" 
                        onchange="UpdateImage(this.id,'image1_preview')"></select>
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption1" class="control-label"></label>
                <input asp-for="Caption1" class="form-control" />
                <span asp-validation-for="Caption1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image2" class="control-label"></label>
                <img id="image2_preview" src="~/images/@Html.DisplayFor(model => model.Image2)" style="max-height:100px;" />
                <select id="select_image2" asp-for="Image2" class="form-control" asp-items="ViewBag.image" 
                        onchange="UpdateImage(this.id,'image2_preview')"></select>
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption2" class="control-label"></label>
                <input asp-for="Caption2" class="form-control" />
                <span asp-validation-for="Caption2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image3" class="control-label"></label>
                <img id="image3_preview" src="~/images/@Html.DisplayFor(model => model.Image3)" style="max-height:100px;" />
                <select id="select_image3" asp-for="Image3" class="form-control" asp-items="ViewBag.image"
                        onchange="UpdateImage(this.id,'image3_preview')"></select>
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption3" class="control-label"></label>
                <input asp-for="Caption3" class="form-control" />
                <span asp-validation-for="Caption3" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger" role="button">Go Back</a>
            </div>
        </form>

        @*<form>
            <div>
                Site Images:
                <select id="selectImage" name="siteImages" asp-items="ViewBag.image" onchange="UpdateImage('sampleImage')"></select>
            </div>
            <div class="text-center" style="margin:20px;">
                <img id="sampleImage" src="" alt="Web Images" width="50%;" />
            </div>
        </form>*@
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadImage" asp-route-returnurl="~/Secondary/EditHistory">
            <div class="form-group">
                <h6>Upload Images:</h6>
                <input type="file" name="imageFile"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload Image" class="btn btn-primary"/>
            </div>
        </form>

        <form method="post" asp-controller="Home" asp-action="DeleteImage" asp-route-returnurl="~/Secondary/EditHistory">
            <div class="form-group">
                <h6>Delete Images:</h6>
                Site Images:
                <select id="selectImage" name="filename" asp-items="ViewBag.image" onchange="UpdateImage(this.id, 'sampleImage')"></select>
                <div class="text-center" style="margin:20px;">
                    <img id="sampleImage" src="" alt="Web Images" width="50%;" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete Image" class="btn btn-danger"/>
            </div>
        </form>
    </div>
</div>
<script>
    function UpdateImage(selectID, previewID) {
        var source = document.getElementById(selectID).value;
        document.getElementById(previewID).src ="../images/" + source;
    
    }
</script>
